{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card shadow">
            <div class="row g-3 align-items-top ">
                <div class="col-md-12">
                    <div
                            class="horVerSlider"
                            data-desktop="800"
                            data-tabportrait="600"
                            data-tablandscape="600"
                            data-mobilelarge="375"
                            data-mobilelandscape="500"
                            data-mobileportrait="375"
                    >
                        <div class="vertical-wrapper">
                            <div id="vertical-slider">
                                <ul>
                                    {% for i in image %}
                                    <li
                                            data-image="{{i.image.url}}"
                                            class="ui-draggable ui-draggable-handle ui-draggable-disabled"
                                    ></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="horizon-wrapper ">
                            <div class="horizone-nav">
                                <div class="prev" style="display: none;">
                                    <img src="{% static 'images/leftarrow.svg' %}" alt=""/>
                                </div>
                                <div class="next" style="display: block;">
                                    <img src="{% static 'images/rightarrow.svg' %}"/>
                                </div>
                            </div>

                            <div id="horizon-slider" class="zoomin zoom-enable zoomed">
                                <ul style="width: auto; height: 600px; left: 0; top: 0;">
                                    {% for images in image %}
                                    <li
                                            data-image="{{images.image.url}}"
                                            class="ui-draggable ui-draggable-handle ui-draggable-disabled"
                                    ></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="dots">
                                <div class="dotwrap"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-12">
                        <div class="card flex-row mb-2">
                            <div class="card-body">
                                <h4 class="card-title h5 h4-sm"><strong>{{ makinat.brand }} {{ makinat.model }}</strong>
                                </h4>

                                <h4 class="badge rounded-pill text-bg-info"><strong> € {{ makinat.price|intcomma }}</strong></h4>
                                <div class="card-text">
                                    <table>
                                        <tr>
                                            <th>Mileage:</th>
                                            <td class="">{{ makinat.mileage|intcomma }}</td>
                                        </tr>
                                        <tr>
                                            <th>First Registration:</th>
                                            <td>{{ makinat.year }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fuel Type:</th>
                                            <td>{{ makinat.fuel_type }}</td>
                                        </tr>
                                        <tr>
                                            <th>Prev Owners:</th>
                                            <td>{{ makinat.previous_owners }}</td>
                                        </tr>
                                        <tr>
                                            <th>Color:</th>
                                            <td>{{ makinat.color }}</td>
                                        </tr>
                                        <tr>
                                            <th>Motor:</th>
                                            <td>{{ makinat.motor }}</td>
                                        </tr>
                                        <tr>
                                            <th>Transmission:</th>
                                            <td>{{ makinat.gearbox }}</td>
                                        </tr>
                                        <tr>
                                            <th>Features:</th>
                                            <td>{{ makinat.features }}</td>
                                        </tr>
                                        <span title="{{ makinat.created_date }}">Created {{ makinat.created_date|timesince }} ago</span>
                                    </table>
                                    <hr>
                                    <table>
                                            <tr>
                                            <th>Street:</th>
                                            <td>{{ makinat.address }}</td>

                                        </tr>
                                        <tr>
                                            <th>City:</th>
                                            <td>{{ makinat.city }}</td>
                                        </tr>
                                        <tr>
                                            <th>Country:</th>
                                            <td>{{ makinat.country }}</td>
                                        </tr>
                                        <tr>
                                            <th>Zip Code:</th>
                                            <td>{{ makinat.zip_code}}</td>
                                        </tr>
                                    </table>
                                <hr>
                                    <div class="inline">
                                    <span>
                                    <label>Username:</label>
                                         <a href="" class="" style="text-decoration: None">{{ makinat.owner }}</a>
                                    <label>Email::</label>
                                        <a  href="" class="" style="text-decoration: None">{{ makinat.owner.email }}</a>
                                        <a href=" {% url 'messages_from_user' makinat.owner.username %}" style="text-decoration: None">Contact Owner:</a>
                                        {% if request.user != makinat.owner %}

                                        {% else %}
                                            <a href="" class="" style="color: green;"><a href="{% url 'update_car' makinat.pk %}">Edit</a>

                                        {% endif %}
                                     </span>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


{% endblock %}