{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

  <div class="col-12 col-md-10">
       <div class="card shadow">
          <div class="row g-3 align-items-top ">
              <div class="col-md-5">
                  <img src="{{makinat.image.url}}" class="card-img rounded-start" alt="Artist desk">
              </div>
              <div class="col-md-7">

                      <div class="col-md-12">
                          <ul>
                              <li class="text-center fas fa-car"><strong>{{ makinat.brand }}  {{ makinat.model }}</strong></li>
                              <li>Millage:{{ makinat.mileage }}</li>
                              <li>First Registration:{{ makinat.year }}</li>
                              <li>Fuel Type:{{ makinat.fuel_type }}</li>
                              <li>Prev Owners:{{ makinat.previous_owners}}</li>
                              <li>Color: {{ makinat.color }}</li>
                              <li>Motor: {{ makinat.motor }}</li>
                              <li>Transmission: {{ makinat.gearbox }}</li>
                              <li class="fas fa-align-left">Features: {{ makinat.features }}</li>

                          </ul>



                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}