{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title></title>
</head>
<body>
<style>
    a {
        text-decoration: none;
        color: #0c7f90;
        font-size: 25px;
        margin-top: 10px;
        margin-right: 50px;
        margin-left: auto;
        font-weight: 500;
        cursor: pointer;
    }

    i {
        text-decoration: none;
        color: #0c7f90;
        font-size: 25px;
        margin-top: 10px;
        margin-right: 50px;
        margin-left: auto;
        font-weight: 500;
        cursor: pointer;
    }
</style>



<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
{#        <img src="{% static 'images/logo.png' %}" alt="Logo" width="60" height="54">#}
         <a class="navbar-nav me-auto mb-2 mb-lg-1 p-1" style="color: red" href="{% url 'cars' %}">AlbCars
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cars' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register_car' %}">Add Car</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
      <!-- Left links -->
    </div>


    <!-- Right elements -->
      {% if user.is_authenticated %}
                    <div class="dropdown md-4">
                        <a href="#"
                           class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'images/R.png' %}" alt="" width="40" height="40"
                                 class="rounded-circle">
                            <i class=""> @{{ user.username }}</i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light text-small shadow">
                            <li><a class="dropdown-item" href="{%  url 'messages_index' %}">Messages</a></li>
                            <li><a class="dropdown-item" href="{% url 'profile' user.pk %}">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
                        </ul>
                    </div>

                {% else %}
                    <span><a type="submit" href="{% url 'login' %}" class="btn  btn-info text-light">Login</a>
                <a type="submit" href="{% url 'register' %}" class="btn  btn-info text-light">Register</a></span>
                {% endif %}
                {% if user.is_superuser %}
                    <span class="navbar-text p-3">
            <a href="{% url 'admin-statistic' %}">
                  Admin Statistic
                </a>
                    </span>
                {% endif %}
    </div>
    <!-- Right elements -->

  <!-- Container wrapper -->
</nav>
<!-- Navbar -->


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
