{% load static %}
<nav class="navbar bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'cars' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top">
            AutoALB
        </a>
        <div class="container" style="text-align: right;">
            <a class="navbar-brand text-muted" href="{% url 'register_car' %}">
                Add Cars
            </a>

            <a class="navbar-brand text-muted" href="{% url 'cars' %}">
                Cars
            </a>
            {% if user.is_authenticated %}
                <a class="navbar-brand text-muted" href="{% url 'logout' %}">
                    Logout
                </a>
            {% else %}
                <a class="navbar-brand text-muted" href="{% url 'login' %}">
                    Login
                </a>
            {% endif %}
        </div>
    </div>
</nav>