{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% else %}
        <form class="d-flex" role="search" style="padding: 10px" action="{% url 'search' %}" method="get">
            <input class="form-control me-2" name="query" type="text" placeholder="Search a Car here"
                   aria-label="Search"
                   value="{{ search }}"
                   style="text-align: center">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
<div class="col-md-12">
        <div class="card shadow">
            <div class="row g-3 align-items-top ">
                <div class="col-md-12">
                    <div
                            class="horVerSlider"
                            data-desktop="800"
                            data-tabportrait="600"
                            data-tablandscape="600"
                            data-mobilelarge="375"
                            data-mobilelandscape="500"
                            data-mobileportrait="375"
                    >
                        <div class="vertical-wrapper">
                            <div id="vertical-slider">
                                <ul>
                                      {% for result in results %}
                                    <li
                                            data-image="{{result.image.url}}"
                                            class="ui-draggable ui-draggable-handle ui-draggable-disabled"
                                    ></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="horizon-wrapper ">
                            <div class="horizone-nav">
                                <div class="prev" style="display: none;">
                                    <img src="{% static 'images/leftarrow.svg' %}" alt=""/>
                                </div>
                                <div class="next" style="display: block;">
                                    <img src="{% static 'images/rightarrow.svg' %}"/>
                                </div>
                            </div>

                            <div id="horizon-slider" class="zoomin zoom-enable zoomed">
                                <ul style="width: 900px; height: 600px; left: 0; top: 0;">
                                    {% for results in results %}
                                    <li
                                            data-image="{{results.image.url}}"
                                            class="ui-draggable ui-draggable-handle ui-draggable-disabled"
                                    ></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="dots">
                                <div class="dotwrap"></div>
                            </div>
                        </div>

                    </div>
                </div>
                {% for result in results %}
                    <div class="col-md-12">
                        <div class="card flex-row mb-2">
                            {#                            <img class="card-img-left example-card-img-responsive" src="{{ f.image.url }}" alt=""/>#}
                            <div class="card-body">
                                <h4 class="card-title h5 h4-sm"><strong>{{ result.brand }} {{ result.model }}</strong>
                                </h4>

                                <h4 class="badge rounded-pill text-bg-info"><strong> € {{ result.price }}</strong></h4>
                                <div class="card-text">
                                    <table>
                                        <tr>
                                            <th>Mileage:</th>
                                            <td class="">{{ result.mileage }}</td>
                                        </tr>
                                        <tr>
                                            <th>First Registration:</th>
                                            <td>{{ result.year }}</td>
                                        </tr>
                                        <tr>
                                            <th>Fuel Type:</th>
                                            <td>{{ result.fuel_type }}</td>
                                        </tr>
                                        <tr>
                                            <th>Prev Owners:</th>
                                            <td>{{ result.previous_owners }}</td>
                                        </tr>
                                        <tr>
                                            <th>Color:</th>
                                            <td>{{ result.color }}</td>
                                        </tr>
                                        <tr>
                                            <th>Motor:</th>
                                            <td>{{ result.motor }}</td>
                                        </tr>
                                        <tr>
                                            <th>Transmission:</th>
                                            <td>{{ result.gearbox }}</td>
                                        </tr>
                                        <tr>
                                            <th>Features:</th>
                                            <td>{{ result.features }}</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-info">{{ result.owner.email }}</button>
                <button type="button" class="btn btn-primary">{{ result.owner.email }}</button>
                <button type="button" class="btn btn-success">{{ result.owner }}</button>
            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}