{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        body {
            background-color: lightgray;
        }


        .card-img-left {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}

    </style>
    <div class="row">
        <form class="d-flex" role="search" style="padding: 10px" action="{% url 'cars' %}" method="get">
            <input class="form-control me-2" name="query" type="text" placeholder="Search a Car here"
                   aria-label="Search"
                   value="{{ search }}"
                   style="text-align: center">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        {% if error %}{{ error }}{% endif %}
    </div>
    <div class="row">
        <div class="col-3">
            <form method="get" action="">
                {{ filter.form|crispy }}
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
        </div>
        <div class="col-9">
        {% if not filter %}
            {% for car in results %}
                <div class="card flex-row mb-2">
                    <img class="card-img-left example-card-img-responsive" src="{{car.image.url}}" alt=""/>
                  <div class="card-body">
                    <h4 class="card-title h5 h4-sm">{{ car.brand }} {{ car.model }}</h4>
                    <div class="card-text">
                                                    <table>
                                    <tr>
                                        <th>Mileage:</th>
                                        <td>{{ car.mileage }}</td>
                                    </tr>
                                    <tr>
                                        <th>First Registration:</th>
                                        <td>{{ car.year }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fuel Type:</th>
                                        <td>{{ car.fuel_type }}</td>
                                    </tr>
                                    <tr>
                                        <th>Prev Owners:</th>
                                        <td>{{ car.previous_owners }}</td>
                                    </tr>
                                    <tr>
                                        <th>Color:</th>
                                        <td>{{ car.color }}</td>
                                    </tr>
                                    <tr>
                                        <th>Motor:</th>
                                        <td>{{ car.motor }}</td>
                                    </tr>
                                    <tr>
                                        <th>Transmission:</th>
                                        <td>{{ car.gearbox }}</td>
                                    </tr>

                                </table>
                    </div>
            </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
     {% for f in filter.qs %}
                <div class="card flex-row mb-2">
                    <img class="card-img-left example-card-img-responsive" src="{{f.image.url}}" alt=""/>
                  <div class="card-body">
                    <h4 class="card-title h5 h4-sm">{{ f.brand }} {{ f.model }}</h4>
                    <div class="card-text">
                                                    <table>
                                    <tr>
                                        <th>Mileage:</th>
                                        <td>{{ f.mileage }}</td>
                                    </tr>
                                    <tr>
                                        <th>First Registration:</th>
                                        <td>{{ f.year }}</td>
                                    </tr>
                                    <tr>
                                        <th>Fuel Type:</th>
                                        <td>{{ f.fuel_type }}</td>
                                    </tr>
                                    <tr>
                                        <th>Prev Owners:</th>
                                        <td>{{ f.previous_owners }}</td>
                                    </tr>
                                    <tr>
                                        <th>Color:</th>
                                        <td>{{ f.color }}</td>
                                    </tr>
                                    <tr>
                                        <th>Motor:</th>
                                        <td>{{ f.motor }}</td>
                                    </tr>
                                    <tr>
                                        <th>Transmission:</th>
                                        <td>{{ f.gearbox }}</td>
                                    </tr>

                                </table>
                    </div>
            </div>
                </div>
            {% endfor %}
    {% endif %}

{% endblock %}