{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            background-color: lightgray;
        }
    </style>
    <div class="container-fluid">
        <div class="row">
            <form class="d-flex" role="search" style="padding: 10px">
                <input class="form-control me-2" type="search" placeholder="Search a Car here" aria-label="Search"
                       style="text-align: center">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-3"><input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
                                      aria-label=".form-control-lg example">
                <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
                       aria-label=".form-control-lg example">
                <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
                       aria-label=".form-control-lg example">
                <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg"
                       aria-label=".form-control-lg example">


            </div>

            <div class="col-8">
                       <article class="card car-details label-info sponsored">
                <div class="card-body">
                    <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">
                        <div class="thumbnail position-relative mb-md-0 mb-3">
                            <img src="https://via.placeholder.com/220x170.png" data-zoom="https://via.placeholder.com/1920x1484.png" />
                        </div>
                        <div class="w-100">
                            <div class="d-flex flex-md-row flex-column">
                                <h3 class="mr-3">Volkswagen Golf VI Cabriolet 1.4 TSI Navi Xenon SR18 WR AHK</h3>
                                <div class="ml-auto text-right">
                                    <h3>$21.000</h3>
                                    <ul class="rating">
                                        <li><i class="fas fa-star text-warning"></i></li>
                                        <li><i class="fas fa-star text-warning"></i></li>
                                        <li><i class="fas fa-star text-warning"></i></li>
                                        <li><i class="fas fa-star text-grey"></i></li>
                                        <li><i class="fas fa-star text-grey"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4 col-12">
                                        <ul>
                                            <li><i class="fas fa-tachometer-alt"></i> <strong>Millage:</strong> 255,000 KM </li>
                                            <li><i class="fas fa-users"></i> <strong>Prev Owners:</strong> 3</li>
                                            <li><i class="fas fa-calendar"></i> <strong>First Registration:</strong> 2018</li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Displacement:</strong> 1,390cc</li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Perfomance:</strong> 118 kW (160 hp)</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8 col-12">
                                        <ul>
                                            <li><i class="fas fa-info-circle"></i> <strong>Fuel Type:</strong> Petrol </li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Consumption(combined):</strong> approx. 6.4 l/100km</li>
                                            <li><i class="fas fa-info-circle"></i> <strong>CO₂ Emissions:</strong> approx. 150 g/km (combined)</li>
                                            <li data-toggle="tooltip" title="The emission class determines the tax bracket of a vehicle. You can find it under number 14 in the registration certificate part 1 (vehicle registration)."><i class="fas fa-info-circle"></i> <strong>Emission Class:</strong> 1,390cc</li>
                                            <li><i class="fas fa-info-circle"></i> <strong>Perfomance:</strong> 118 kW (160 hp)</li>
                                        </ul>
                                    </div>
                                    <div class="col-12">
                                        <div class="d-flex flex-md-row flex-column align-items-center justify-content-end">
                                            <button class="btn btn-success w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-phone"></i> Contact Seller</button>
                                            <button class="btn btn-default w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-parking"></i> Park</button>
                                            <button class="btn btn-default w-100"><i class="fas fa-comment"></i> Comments(18)</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>

            </div>
        </div>
    </div>
{% endblock %}