{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 800px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

</style>

 {% for visit in visits %}
    <table class="styled-table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Price</th>
            <th>Visits</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{ visit.car__brand}} {{ visit.car__model }}</td>
            <td>{{ visit.car__price|floatformat|intcomma }} Euro</td>
            <td>{{ visit.num_visits }}</td>
        </tr>

    </tbody>
</table>



{% endfor %}

{% endblock %}